@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HTML and Body */
html {
  height: 100%;
  font-size: 16px; /* Good for rem calculations */
}

body {
  min-height: 100%;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

/* Loader Spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spin 1s linear infinite;
}
